$accent: rgba(245, 56, 56, 1);
$accent-shadow: rgba(245, 56, 56, 0.33);
$accent-bg: rgba(255, 236, 236, 1);
$dim: rgba(79, 86, 101, 1);

$xPadding: 25px;
$yPadding: 25px;
$xPadding--desktop: 150px;
$yPadding--desktop: 50px;

/* BREAKPOINTS */
$breakpointDesktop: 768px /* TABLETS */